.carousel {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 350px;
  margin: auto;
  overflow: hidden;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.text-container {
  position: relative;
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

.carousel-inner {
  display: flex;
  width: 80%;
  align-items: center;
}

.carousel-image {
  border: 2px solid rgb(255, 215, 0);
  border-radius: 4%;
  max-height: 100%;
  object-fit: cover;
}

.event-title {
  font-family: serif; /* Use a serif font for the title */
}

.event-details {
  margin-bottom: 1rem;
  list-style-type: disc; /* Ensure bullet points */
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 1rem;
  z-index: 1;
}

.carousel-control-prev {
  left: 1rem;
}

.carousel-control-next {
  right: 1rem;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.carousel-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.carousel-indicator.active {
  background-color: black;
}
