.carousel {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 350px;
  margin: auto;
  overflow: hidden;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container{
  position: absolute;
  left: 0; 
  width: 40%;
}

.text-container{
  position:absolute;
  right: 0;
  display: flex;
  justify-content:left ;
  /* align-items: center; */
}

.carousel-inner {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  /* display: block; */
  border: 2px solid rgb(255, 215, 0);
  border-radius: 4%;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 1rem;
  z-index: 1;
}

.carousel-control-prev {
  left: 1rem;
}

.carousel-control-next {
  right: 1rem;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.carousel-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.carousel-indicator.active {
  background-color: black;
}
